 .form-control-feedback {top: 9px !important;}.selectbox {width:100%; padding: 6px 12px;}
 .Thumbanail--Product{display: inline-block; float: left; width: calc(33.33%);width: -moz-calc(33.33%);width: -webkit-calc(33.33%); position: relative; padding-top: 10px; padding-bottom: 20px;}
    .Thumbanail--Product:nth-of-type(3n + 4){clear: left;}
    .Product__Img{display: inline-block; float: left; width: calc(100% - 30px);width: -moz-calc(100% - 30px);width: -webkit-calc(100% - 30px); margin-left: 15px; margin-right: 15px; z-index: 1; position: relative;}
    .Product__Img img{width: 100%; max-width: 100%; float: left; display: inline-block;}
    .abs__pro{color: #fff; background: #3175B6; border:1px solid #fff; z-index: 3; position:absolute; top: -5px; width: 29px; height: 29px; line-height: 29px; vertical-align: middle; right: 5px; -moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%; background-clip: padding-box; font-size: 21px; text-align: center;}
    .abs__pro span{font-size: 21px;}
    .abs__pro:hover,
    .abs__pro:focus,
    .abs__pro:active{text-decoration: none; font-size: 21px; color: #fff; background-color: #ff0000;}
.loadingDiv {background-color: rgba(0, 0, 0, 0.6); background-image: url("../../images/ajax-loader.svg");background-position: center center;background-repeat: no-repeat;height: 100%;opacity: 1;position: fixed;right: 0;top: 0;width: 100%;z-index: 10000000;}
