@font-face {
  font-family: 'Conv_Merienda-Bold';
  src: url('fonts/Merienda-Bold.eot');
  src: local('☺'), url('fonts/Merienda-Bold.woff') format('woff'), url('fonts/Merienda-Bold.ttf') format('truetype'), url('fonts/Merienda-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_MerriweatherSans-Regular';
  src: url('fonts/MerriweatherSans-Regular.eot');
  src: local('☺'), url('fonts/MerriweatherSans-Regular.woff') format('woff'), url('fonts/MerriweatherSans-Regular.ttf') format('truetype'), url('fonts/MerriweatherSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0px;
}
.rnOuter {
  background: hsl(0, 80%, 38%);
  overflow: hidden;
  position: relative;
  height: 100vh;
  background: #4f3722 url(../coming_soon/images/darkcurtain.jpg) no-repeat;
  background-size:100%;
}
.rnInner {
  width: 100%;
  position: absolute;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 6s ease;
  transform-origin: -120% top;
}
.rnInnerleft {
  background: #961010;
}
.rnInnerright {
  left: 50% !important;
  transform-origin: 120% top;
  background: #961010;
}
.rnUnit {
  width: 10vw;
  height: 120vh;
  background: repeating-linear-gradient(to left, hsl(0, 80%, 50%) 4vw, hsl(0, 80%, 30%) 8vw, hsl(0, 80%, 70%) 10vw);
  background-size: 100% 100%;
  display: inline-block;
  transform-origin: 0 0%;
  transform: rotate(3deg);
  animation: rnUnit 2s ease infinite;
}
@keyframes rnUnit {
  50% {
    transform: rotate(-3deg);
  }
}
.rnUnit:nth-child(1) {
  animation-delay: -0.1s;
}
.rnUnit:nth-child(2) {
  animation-delay: -0.2s;
}
.rnUnit:nth-child(3) {
  animation-delay: -0.3s;
}
.rnUnit:nth-child(4) {
  animation-delay: -0.4s;
}
.rnUnit:nth-child(5) {
  animation-delay: -0.5s;
}
.rnUnit:nth-child(6) {
  animation-delay: -0.6s;
}
.rnUnit:nth-child(7) {
  animation-delay: -0.7s;
}
.rnUnit:nth-child(8) {
  animation-delay: -0.8s;
}
.rnUnit:nth-child(9) {
  animation-delay: -0.9s;
}
.rnUnit:nth-child(10) {
  animation-delay: -1s;
}
.aoTable {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.aoTableCell {
  color: hsl(0, 80%, 38%);
  display: table-cell;
  vertical-align: middle;
  transition: color 3s ease;
}
.ribbon {
  height: 70px;
  width: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--dark);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 2.8s;
}
.ribbon2 {
  left: 50%;
}
.color {
  background: -moz-linear-gradient(0deg, var(--dark) 0%, var(--light) 9%, var(--dark) 17%, var(--darkest) 51%, var(--dark) 82%, var(--light) 91%, var(--dark) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--dark)), color-stop(9%, var(--light)), color-stop(17%, var(--dark)), color-stop(51%, var(--darkest)), color-stop(82%, var(--dark)), color-stop(91%, var(--light)), color-stop(100%, var(--dark)));
  background: -webkit-linear-gradient(0deg, #719912 0%, #96cc18 9%, #719912 17%, #334508 51%, #719912 82%, #96cc18 91%, #719912 100%) !important;
  background: -o-linear-gradient(0deg, var(--dark) 0%, var(--light) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, var(--light) 90%, var(--dark) 100%);
  background: -ms-linear-gradient(0deg, var(--dark) 0%, var(--light) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, var(--light) 90%, var(--dark) 100%);
  background: linear-gradient(90deg, var(--dark) 0%, var(--light) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, var(--light) 90%, var(--dark) 100%);
}
.badge {
  --size: 200px;
  --light: #fcfaed;
  --dark: #d5d4ca;
  align-self: center;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  z-index: 1;
  background: #ffefef url(../coming_soon/images/medntek.svg); 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.2), inset 10px 0 20px var(--light), inset -2px 0 20px rgba(128, 128, 128, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  transition: all 2.8s;
  cursor: pointer;
}
.ribbon-as {
  width: 470px;
  height: 60px;
  margin: 100px auto 0px;
  position: relative;
  color: #fff;
  font: 28px/60px Conv_Merienda-Bold;
  text-align: center;
  text-transform: uppercase;
  background: #FF3600;
  -webkit-animation: main 250ms;
  -moz-animation: main 250ms;
  -ms-animation: main 250ms;
  animation: main 250ms;
  top: -14%;
}
.text-curtain {
  font-family: 'Conv_MerriweatherSans-Regular';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 24px;
  max-width: 30%;
  margin: 0 auto;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 1px;
}
.thelaunchlook {
  font-family: 'Conv_MerriweatherSans-Regular';
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 25px;
    background: #623917;
    padding: 10px;
}
.thelaunchlook a {
  color: #ffffff;
  text-decoration: none;
}
.ribbon-as i {
  position: absolute;
}
.ribbon-as i:first-child,
.ribbon-as i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: 0;
  border: 20px solid transparent;
  border-right-color: #FF3500;
  -webkit-animation: edge 500ms;
  -moz-animation: edge 500ms;
  -ms-animation: edge 500ms;
  animation: edge 500ms;
}
.ribbon-as i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #FF3500;
}
.ribbon-as i:nth-child(3),
.ribbon-as i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: 0;
  border: 30px solid #FF4500;
  border-left-color: transparent;
  -webkit-animation: back 600ms;
  -moz-animation: back 600ms;
  -ms-animation: back 600ms;
  animation: back 600ms;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.ribbon-as i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #FF4500;
  border-right-color: transparent;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max-width: 1600px) {
  .text-curtain {
    max-width: 40%;
  }
}
@media (max-width: 1366px){
  .text-curtain {
      max-width: 50%;
  }
}
@media (max-width: 1250px){
  .text-curtain {
      max-width: 58%;
  }
}
@media (max-width: 1080px){
  .text-curtain {
      max-width: 69%;
  }
}