@-webkit-keyframes clockwise{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes clockwise{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@-webkit-keyframes donut-rotate{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    50%{
        -webkit-transform:rotate(-140deg);
        transform:rotate(-140deg)
    }
    100%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
}
@keyframes donut-rotate{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    50%{
        -webkit-transform:rotate(-140deg);
        transform:rotate(-140deg)
    }
    100%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
}

@-webkit-keyframes spin{
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spin{
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@font-face{
    font-family:star;
    font-display:swap;
    src:url(../fonts/star.eot);
    src:url(../fonts/star.eot?#iefix) format("embedded-opentype"),url(../fonts/star.woff) format("woff"),url(../fonts/star.ttf) format("truetype"),url(../fonts/star.svg#star) format("svg");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:WooCommerce;
    src:url(../fonts/WooCommerce.eot);
    src:url(../fonts/WooCommerce.eot?#iefix) format("embedded-opentype"),url(../fonts/WooCommerce.woff) format("woff"),url(../fonts/WooCommerce.ttf) format("truetype"),url(../fonts/WooCommerce.svg#WooCommerce) format("svg");
    font-weight:400;
    font-style:normal
}

.screen-reader-text{
    clip:rect(1px,1px,1px,1px);
    height:1px;
    overflow:hidden;
    position:absolute!important;
    width:1px;
    word-wrap:normal!important
}
.admin-bar p.demo_store{
    top:32px
}
.clear{
    clear:both
}
.woocommerce small.note{
    display:block;
    color:#767676;
    font-size:.857em;
    margin-top:10px
}
.woocommerce .woocommerce-breadcrumb{
    margin:0 0 1em;
    padding:0;
    font-size:.92em;
    color:#767676
}
.woocommerce .woocommerce-breadcrumb::after,.woocommerce .woocommerce-breadcrumb::before{
    content:' ';
    display:table
}
.woocommerce .woocommerce-breadcrumb::after{
    clear:both
}
.woocommerce .woocommerce-breadcrumb a{
    color:#767676
}
.woocommerce .quantity .qty{
    width:3.631em;
    text-align:center
}
.woocommerce div.product{
    margin-bottom:0;
    position:relative
}
.woocommerce div.product .product_title{
    clear:none;
    margin-top:0;
    padding:0
}
.woocommerce div.product p.price,.woocommerce div.product span.price{
    color:#77a464;
    font-size:1.25em
}
.woocommerce div.product p.price ins,.woocommerce div.product span.price ins{
    background:inherit;
    font-weight:700;
    display:inline-block
}
.woocommerce div.product p.price del,.woocommerce div.product span.price del{
    opacity:.5;
    display:inline-block
}
.woocommerce div.product p.stock{
    font-size:.92em
}
.woocommerce div.product .stock{
    color:#77a464
}
.woocommerce div.product .out-of-stock{
    color:red
}
.woocommerce div.product .woocommerce-product-rating{
    margin-bottom:1.618em
}
.woocommerce div.product div.images{
    margin-bottom:2em
}
.woocommerce div.product div.images img{
    display:block;
    width:100%;
    height:auto;
    box-shadow:none
}
.woocommerce div.product div.images div.thumbnails{
    padding-top:1em
}
.woocommerce div.product div.images.woocommerce-product-gallery{
    position:relative
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper{
    -webkit-transition:all cubic-bezier(.795,-.035,0,1) .5s;
    transition:all cubic-bezier(.795,-.035,0,1) .5s;
    margin:0;
    padding:0
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg{
    background-color:#fff;
    opacity:0
}
.woocommerce div.product div.images .woocommerce-product-gallery__image--placeholder{
    border:1px solid #f2f2f2
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2){
    width:25%;
    display:inline-block
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger{
    position:absolute;
    top:.5em;
    right:.5em;
    font-size:2em;
    z-index:9;
    width:36px;
    height:36px;
    background:#fff;
    text-indent:-9999px;
    border-radius:100%;
    box-sizing:content-box
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger::before{
    content:"";
    display:block;
    width:10px;
    height:10px;
    border:2px solid #000;
    border-radius:100%;
    position:absolute;
    top:9px;
    left:9px;
    box-sizing:content-box
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger::after{
    content:"";
    display:block;
    width:2px;
    height:8px;
    background:#000;
    border-radius:6px;
    position:absolute;
    top:19px;
    left:22px;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    box-sizing:content-box
}
.woocommerce div.product div.images .flex-control-thumbs{
    overflow:hidden;
    zoom:1;
    margin:0;
    padding:0
}
.woocommerce div.product div.images .flex-control-thumbs li{
    width:25%;
    float:left;
    margin:0;
    list-style:none
}
.woocommerce div.product div.images .flex-control-thumbs li img{
    cursor:pointer;
    opacity:.5;
    margin:0
}
.woocommerce div.product div.images .flex-control-thumbs li img.flex-active,.woocommerce div.product div.images .flex-control-thumbs li img:hover{
    opacity:1
}
.woocommerce div.product .woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1){
    clear:left
}
.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1){
    clear:left
}
.woocommerce div.product .woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1){
    clear:left
}
.woocommerce div.product div.summary{
    margin-bottom:2em
}
.woocommerce div.product div.social{
    text-align:right;
    margin:0 0 1em
}
.woocommerce div.product div.social span{
    margin:0 0 0 2px
}
.woocommerce div.product div.social span span{
    margin:0
}
.woocommerce div.product div.social span .stButton .chicklets{
    padding-left:16px;
    width:0
}
.woocommerce div.product div.social iframe{
    float:left;
    margin-top:3px
}

.woocommerce span.onsale{
    min-height:3.236em;
    min-width:3.236em;
    padding:.202em;
    font-size:1em;
    font-weight:700;
    position:absolute;
    text-align:center;
    line-height:3.236;
    top:-.5em;
    left:-.5em;
    margin:0;
    border-radius:100%;
    background-color:#77a464;
    color:#fff;
    font-size:.857em;
    z-index:9
}
.woocommerce .products ul,.woocommerce ul.products{
    margin:0 0 1em;
    padding:0;
    list-style:none outside;
    clear:both
}
.woocommerce .products ul::after,.woocommerce .products ul::before,.woocommerce ul.products::after,.woocommerce ul.products::before{
    content:' ';
    display:table
}
.woocommerce .products ul::after,.woocommerce ul.products::after{
    clear:both
}
.woocommerce .products ul li,.woocommerce ul.products li{
    list-style:none outside
}
.woocommerce ul.products li.product .onsale{
    top:0;
    right:0;
    left:auto;
    margin:-.5em -.5em 0 0
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,.woocommerce ul.products li.product .woocommerce-loop-product__title,.woocommerce ul.products li.product h3{
    padding:.5em 0;
    margin:0;
    font-size:1em
}
.woocommerce ul.products li.product a{
    text-decoration:none
}
.woocommerce ul.products li.product a img{
    width:100%;
    height:auto;
    display:block;
    margin:0 0 1em;
    box-shadow:none
}
.woocommerce ul.products li.product strong{
    display:block
}
.woocommerce ul.products li.product .woocommerce-placeholder{
    border:1px solid #f2f2f2
}
.woocommerce ul.products li.product .star-rating{
    font-size:.857em
}
.woocommerce ul.products li.product .button{
    margin-top:1em
}
.woocommerce ul.products li.product .price{
    color:#77a464;
    display:block;
    font-weight:400;
    margin-bottom:.5em;
    font-size:.857em
}
.woocommerce ul.products li.product .price del{
    color:inherit;
    opacity:.5;
    display:inline-block
}
.woocommerce ul.products li.product .price ins{
    background:0 0;
    font-weight:700;
    display:inline-block
}
.woocommerce ul.products li.product .price .from{
    font-size:.67em;
    margin:-2px 0 0 0;
    text-transform:uppercase;
    color:rgba(132,132,132,.5)
}
.woocommerce .woocommerce-result-count{
    margin:0 0 1em
}
.woocommerce .woocommerce-ordering{
    margin:0 0 1em
}
.woocommerce .woocommerce-ordering select{
    vertical-align:top
}
.woocommerce nav.woocommerce-pagination{
    text-align:center
}
.woocommerce nav.woocommerce-pagination ul{
    display:inline-block;
    white-space:nowrap;
    padding:0;
    clear:both;
    border:1px solid #d3ced2;
    border-right:0;
    margin:1px
}
.woocommerce nav.woocommerce-pagination ul li{
    border-right:1px solid #d3ced2;
    padding:0;
    margin:0;
    float:left;
    display:inline;
    overflow:hidden
}
.woocommerce nav.woocommerce-pagination ul li a,.woocommerce nav.woocommerce-pagination ul li span{
    margin:0;
    text-decoration:none;
    padding:0;
    line-height:1;
    font-size:1em;
    font-weight:400;
    padding:.5em;
    min-width:1em;
    display:block
}
.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li span.current{
    background:#ebe9eb;
    color:#8a7e88
}
.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button{
    font-size:100%;
    margin:0;
    line-height:1;
    cursor:pointer;
    position:relative;
    text-decoration:none;
    overflow:visible;
    padding:.618em 1em;
    font-weight:700;
    border-radius:3px;
    left:auto;
    color:#515151;
    background-color:#ebe9eb;
    border:0;
    display:inline-block;
    background-image:none;
    box-shadow:none;
    text-shadow:none
}
.woocommerce #respond input#submit.loading,.woocommerce a.button.loading,.woocommerce button.button.loading,.woocommerce input.button.loading{
    opacity:.25;
    padding-right:2.618em
}
.woocommerce #respond input#submit.loading::after,.woocommerce a.button.loading::after,.woocommerce button.button.loading::after,.woocommerce input.button.loading::after{
    font-family:WooCommerce;
    content:"\e01c";
    vertical-align:top;
    font-weight:400;
    position:absolute;
    top:.618em;
    right:1em;
    -webkit-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite
}
.woocommerce #respond input#submit.added::after,.woocommerce a.button.added::after,.woocommerce button.button.added::after,.woocommerce input.button.added::after{
    font-family:WooCommerce;
    content:"\e017";
    margin-left:.53em;
    vertical-align:bottom
}
.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover{
    background-color:#dfdcde;
    text-decoration:none;
    background-image:none;
    color:#515151
}
.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt{
    background-color:#a46497;
    color:#fff;
    -webkit-font-smoothing:antialiased
}
.woocommerce #respond input#submit.alt:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover{
    background-color:#96588a;
    color:#fff
}
.woocommerce #respond input#submit.alt.disabled,.woocommerce #respond input#submit.alt.disabled:hover,.woocommerce #respond input#submit.alt:disabled,.woocommerce #respond input#submit.alt:disabled:hover,.woocommerce #respond input#submit.alt:disabled[disabled],.woocommerce #respond input#submit.alt:disabled[disabled]:hover,.woocommerce a.button.alt.disabled,.woocommerce a.button.alt.disabled:hover,.woocommerce a.button.alt:disabled,.woocommerce a.button.alt:disabled:hover,.woocommerce a.button.alt:disabled[disabled],.woocommerce a.button.alt:disabled[disabled]:hover,.woocommerce button.button.alt.disabled,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled],.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled],.woocommerce input.button.alt:disabled[disabled]:hover{
    background-color:#a46497;
    color:#fff
}
.woocommerce #respond input#submit.disabled,.woocommerce #respond input#submit:disabled,.woocommerce #respond input#submit:disabled[disabled],.woocommerce a.button.disabled,.woocommerce a.button:disabled,.woocommerce a.button:disabled[disabled],.woocommerce button.button.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled]{
    color:inherit;
    cursor:not-allowed;
    opacity:.5;
    padding:.618em 1em
}
.woocommerce #respond input#submit.disabled:hover,.woocommerce #respond input#submit:disabled:hover,.woocommerce #respond input#submit:disabled[disabled]:hover,.woocommerce a.button.disabled:hover,.woocommerce a.button:disabled:hover,.woocommerce a.button:disabled[disabled]:hover,.woocommerce button.button.disabled:hover,.woocommerce button.button:disabled:hover,.woocommerce button.button:disabled[disabled]:hover,.woocommerce input.button.disabled:hover,.woocommerce input.button:disabled:hover,.woocommerce input.button:disabled[disabled]:hover{
    color:inherit;
    background-color:#ebe9eb
}
.woocommerce .cart .button,.woocommerce .cart input.button{
    float:none
}
.woocommerce a.added_to_cart{
    padding-top:.5em;
    display:inline-block
}
.woocommerce #reviews h2 small{
    float:right;
    color:#767676;
    font-size:15px;
    margin:10px 0 0
}
.woocommerce #reviews h2 small a{
    text-decoration:none;
    color:#767676
}
.woocommerce #reviews h3{
    margin:0
}
.woocommerce #reviews #respond{
    margin:0;
    border:0;
    padding:0
}
.woocommerce #reviews #comment{
    height:75px
}
.woocommerce #reviews #comments .add_review::after,.woocommerce #reviews #comments .add_review::before{
    content:' ';
    display:table
}
.woocommerce #reviews #comments .add_review::after{
    clear:both
}
.woocommerce #reviews #comments h2{
    clear:none
}
.woocommerce #reviews #comments ol.commentlist{
    margin:0;
    width:100%;
    background:0 0;
    list-style:none
}
.woocommerce #reviews #comments ol.commentlist::after,.woocommerce #reviews #comments ol.commentlist::before{
    content:' ';
    display:table
}
.woocommerce #reviews #comments ol.commentlist::after{
    clear:both
}
.woocommerce #reviews #comments ol.commentlist li{
    padding:0;
    margin:0 0 20px;
    border:0;
    position:relative;
    background:0;
    border:0
}
.woocommerce #reviews #comments ol.commentlist li .meta{
    color:#767676;
    font-size:.75em
}
.woocommerce #reviews #comments ol.commentlist li img.avatar{
    float:left;
    position:absolute;
    top:0;
    left:0;
    padding:3px;
    width:32px;
    height:auto;
    background:#ebe9eb;
    border:1px solid #e4e1e3;
    margin:0;
    box-shadow:none
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
    margin:0 0 0 50px;
    border:1px solid #e4e1e3;
    border-radius:4px;
    padding:1em 1em 0
}
.woocommerce #reviews #comments ol.commentlist li .comment-text::after,.woocommerce #reviews #comments ol.commentlist li .comment-text::before{
    content:' ';
    display:table
}
.woocommerce #reviews #comments ol.commentlist li .comment-text::after{
    clear:both
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p{
    margin:0 0 1em
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta{
    font-size:.83em
}
.woocommerce #reviews #comments ol.commentlist ul.children{
    list-style:none outside;
    margin:20px 0 0 50px
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating{
    display:none
}
.woocommerce #reviews #comments ol.commentlist #respond{
    border:1px solid #e4e1e3;
    border-radius:4px;
    padding:1em 1em 0;
    margin:20px 0 0 50px
}
.woocommerce #reviews #comments .commentlist>li::before{
    content:""
}
.woocommerce .star-rating{
    float:right;
    overflow:hidden;
    position:relative;
    height:1em;
    line-height:1;
    font-size:1em;
    width:5.4em;
    font-family:star
}
.woocommerce .star-rating::before{
    content:"\73\73\73\73\73";
    color:#d3ced2;
    float:left;
    top:0;
    left:0;
    position:absolute
}
.woocommerce .star-rating span{
    overflow:hidden;
    float:left;
    top:0;
    left:0;
    position:absolute;
    padding-top:1.5em
}
.woocommerce .star-rating span::before{
    content:"\53\53\53\53\53";
    top:0;
    position:absolute;
    left:0
}
.woocommerce .woocommerce-product-rating{
    line-height:2;
    display:block
}
.woocommerce .woocommerce-product-rating::after,.woocommerce .woocommerce-product-rating::before{
    content:' ';
    display:table
}
.woocommerce .woocommerce-product-rating::after{
    clear:both
}
.woocommerce .woocommerce-product-rating .star-rating{
    margin:.5em 4px 0 0;
    float:left
}
.woocommerce .products .star-rating{
    display:block;
    margin:0 0 .5em;
    float:none
}
.woocommerce .hreview-aggregate .star-rating{
    margin:10px 0 0
}
.woocommerce #review_form #respond{
    position:static;
    margin:0;
    width:auto;
    padding:0;
    background:transparent none;
    border:0
}
.woocommerce #review_form #respond::after,.woocommerce #review_form #respond::before{
    content:' ';
    display:table
}
.woocommerce #review_form #respond::after{
    clear:both
}
.woocommerce #review_form #respond p{
    margin:0 0 10px
}
.woocommerce #review_form #respond .form-submit input{
    left:auto
}
.woocommerce #review_form #respond textarea{
    box-sizing:border-box;
    width:100%
}
.woocommerce p.stars a{
    position:relative;
    height:1em;
    width:1em;
    text-indent:-999em;
    display:inline-block;
    text-decoration:none
}
.woocommerce p.stars a::before{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:1em;
    height:1em;
    line-height:1;
    font-family:WooCommerce;
    content:"\e021";
    text-indent:0
}
.woocommerce p.stars a:hover~a::before{
    content:"\e021"
}
.woocommerce p.stars:hover a::before{
    content:"\e020"
}
.woocommerce p.stars.selected a.active::before{
    content:"\e020"
}
.woocommerce p.stars.selected a.active~a::before{
    content:"\e021"
}
.woocommerce p.stars.selected a:not(.active)::before{
    content:"\e020"
}

.woocommerce td.product-name .wc-item-meta,.woocommerce td.product-name dl.variation{
    list-style:none outside
}
.woocommerce td.product-name .wc-item-meta .wc-item-meta-label,.woocommerce td.product-name .wc-item-meta dt,.woocommerce td.product-name dl.variation .wc-item-meta-label,.woocommerce td.product-name dl.variation dt{
    float:left;
    clear:both;
    margin-right:.25em;
    display:inline-block;
    list-style:none outside
}
.woocommerce td.product-name .wc-item-meta dd,.woocommerce td.product-name dl.variation dd{
    margin:0
}
.woocommerce td.product-name .wc-item-meta p,.woocommerce td.product-name .wc-item-meta:last-child,.woocommerce td.product-name dl.variation p,.woocommerce td.product-name dl.variation:last-child{
    margin-bottom:0
}
.woocommerce td.product-name p.backorder_notification{
    font-size:.83em
}
.woocommerce td.product-quantity{
    min-width:80px
}